    @page "/"

<div class="container">
    <header>
        <h1>Üdvözöljük a Weapon Manager alkalmazásban</h1>
    </header>

    <section class="intro">
        <p>
            A Weapon Manager az Ön elsődleges alkalmazása a fegyverarzenál szervezésére és kezelésére.
            Akár gyűjtő, lelkes rajongó vagy szakember, alkalmazásunk lehetővé teszi, hogy egyszerűen
            listázza, szerkessze, hozzáadja és törölje a különböző fegyvereket a leltárában.
        </p>
    </section>

    <main>
        <h2>Kezelje fegyvereit</h2>
        <div class="actions">
            <a href="/weapon-list" class="button">Fegyverek listázása</a>
            <a href="/add-weapon" class="button">Új fegyver hozzáadása</a>
        </div>
    </main>
</div>
